.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    margin-bottom: 0;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 1px solid transparent
    
}

.socials img{
    padding: 0px 15px;
}